aiohttp
pymongo[srv]
motor
Pyrogram
TgCrypto
bs4

aiofiles
dnspython
python-dotenv

 
Flask
gunicorn

aiohttp
pymongo[srv]
motor
Pyrogram
TgCrypto
bs4
pyshorteners
aiofiles


python-dotenv

Dnspython 


PyBypass
mdisky
shortzy
aiofiles
validator
python-dotenv
uvloop
mdisky
shortzy
aiofiles
validators
python-dotenv
uvloop
